<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.Pulse.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>Pulse</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>POSTHOG_API_KEY</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>POSTHOG_HOST</key>
	<string>$(POSTHOG_HOST)</string>
	<key>REVENUECAT_API_KEY</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SUPABASE_KEY</key>
	<string>$(SUPABASE_KEY)</string>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>UITEST_EMAIL</key>
	<string>$(UITEST_EMAIL)</string>
	<key>UITEST_PASSWORD</key>
	<string>$(UITEST_PASSWORD)</string>
	<key>WCSupportsAlwaysOnDisplay</key>
	<true/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LoadingBackground</string>
		<key>UIImageName</key>
		<string>LoadingLogo</string>
	</dict>
</dict>
</plist>
